<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/output.css">
</head>
<body >
    <div class="flex justify-end items-start bg-red-800 ">
        <div class="w-1/2 h-screen bg-gradient-to-r from-cyan-400 to-sky-500 absolute z-50 p-[2px]">
            <div class="bg-white w-full h-full">

            </div>
        </div>
    </div>
    
</body>

</html>